@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
body{
    padding: 0px;
    margin: 0px;
    background-color: beige;
}
header{
    text-align: center;
}
nav{
    
    
    background-color: rgb(0, 0, 0);
    

   
}
nav a{
    text-decoration: none;
    color: goldenrod;
    font-family: "Roboto", sans-serif;
    display: inline;
    font-size: 25px;

}
nav a:hover{
text-decoration: underline;
}

nav img{
    width: 150px;
    border-radius: 100px;
}
.eslogan{
    font-size: 23px;
    color: goldenrod;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: "Rochester", cursive;
    

}
nav li{
    display: inline;
    padding: 60px;
    font-size: 25px;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: rgba(168, 168, 168, 0.527);
}
.tarjetas{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: rgb(103, 103, 104);
    border-radius: 30px;
    width: 250px;
    padding: 0px;
    margin: 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 30px rgb(0, 247, 255);
    

    
    
    
    
    
    
    
    

    
    

}
.tarjetas img{
    width: 200px;
    border-radius: 35px;
}
